:root {
  /* --- Primary --- */
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);
  --White: hsl(0, 0%, 100%);

  /* --- Secondary --- */
  --Red: hsl(0, 87%, 67%);

  /* --- Neutral --- */
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);

  /* --- Numbers --- */
  --padding: 10rem;
}

@font-face {
  font-family: Pbold;
  src: url(../font/Poppins-Bold.ttf);
}

@font-face {
  font-family: Pregular;
  src: url(../font/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pregular, sans-serif;
  transition: all .3s;
}

::selection {
  background-color: var(--Cyan);
  color: var(--White);
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  background-color: var(--Cyan);
  color: var(--White);
  padding: 1rem 2.5rem;
  border-radius: 3rem;
  font-size: 1.8rem;
  font-family: Pbold;
  border: none;
  /* outline: none; */
}

button:hover, button:focus {
  background-color: hsl(180, 66%, 69%);
  cursor: pointer;
}

nav {
  padding: 4.8rem var(--padding);
  background-color: var(--White);
  font-size: 10px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  height: 3.6em;
  margin-right: 4.5rem;
}

.nav-container a {
  display: inline-block;
  color: var(--Grayish-Violet);
  font-family: Pbold;
  font-size: 1.6rem;
  margin-right: 3rem;
}

.nav-container a:hover, .nav-container a:focus {
  color: var(--Very-Dark-Violet);
}

.nav-container .right a {
  margin-right: 4rem;
}

.nav-container .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

section.sec-1 {
  padding: 13rem var(--padding) 22rem var(--padding);
  overflow: hidden;
}

.illustration-img {
  position: absolute;
  top: 50%;
  right: -20rem;
  transform: translateY(-50%);
  max-width: 160%;

}

section.sec-1 .flex {
  display: flex;
}

section.sec-1 .left {
  width: 50%;
}

section.sec-1 .right {
  width: 50%;
  position: relative;
}

section.sec-1 .left h1 {
  color: var(--Very-Dark-Violet);
}

section.sec-1 .left p {
  width: 80%;
  margin-bottom: 4rem;
  color: var(--Very-Dark-Blue);
}

.main {
  transform: translateY(-7.4rem);
}

input {
  padding: 2rem 4rem;
  font-size: 1.8rem;
  font-family: Pbold;
  border-radius: 1rem;
  /* outline: none; */
  border: none;
}

.input-container {
  display: flex;
  padding: 4rem 6.5rem;
  border-radius: 1rem;
  background-color: var(--Dark-Violet);
  background-image: url(../images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1rem;
}

.input-text {
  width: 100%;
  color: var(--Very-Dark-Violet);
  margin-right: 2.5rem;
  position: relative;
}

.input-text::placeholder {
  color: var(--ptext, hsl(255, 11%, 22%));
}

input[type="submit"] {
  color: var(--White);
  background-color: var(--Cyan);
}

.shortened-container {
  background-color: var(--White);
  padding: 1.5rem 2.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  color: var(--Very-Dark-Violet);
  margin-top: 1.5rem;
}

.shortened-container * {
  display: inline-block;
}

.shortened-container .short p {
  color: var(--Cyan);
  margin-right: 2rem;
}

.shortened-container .short {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.shortened-container button {
  border-radius: 1rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 4rem;
}

/* .shortened-container:nth-child(1) {
  margin-bottom: 14rem;
} */

section.sec-2 {
  padding: 0rem var(--padding) 21rem var(--padding);
  background-color: var(--Grayish-Violet);
  color: var(--Very-Dark-Violet);
  position: relative;
}

section.sec-2 p {
  font-size: 2rem;
  line-height: 3rem;
  color: var(--Very-Dark-Blue);
}

section.sec-2 .error-msg {
  position: absolute;
  left: 4rem;
  bottom: -3.5rem;
  color: var(--Red);
  font-size: 1.5rem;
  font-style: italic;
}

.sec-heading {
  width: 60%;
  margin: 14rem auto 10rem auto;
  text-align: center;
}

.sec-2 .sec-item {
  display: flex;
  justify-content: space-between;
}

.sec-2 .sec-item .item {
  width: 32%;
  padding: 8rem 4rem 3rem 4rem;
  background-color: var(--White);
  border-radius: 1rem;
  position: relative;
}

.sec-2 .sec-item .item:hover {
  box-shadow: -.3rem -.3rem .5rem var(--Gray), .3rem .3rem .5rem var(--Gray);
}

.sec-2 .sec-item .item:nth-child(2) {
  transform: translateY(15%);
}

.sec-2 .sec-item .item:nth-child(3) {
  transform: translateY(30%);
}

.item h3 {
  margin-bottom: 2rem;
}

.item .icon-area {
  height: 9rem;
  width: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--Very-Dark-Blue);
  position: absolute;
  top: -4.5rem;
  left: 4rem;
}

.center-line {
  position: relative;
}

.center-line hr {
  width: 100%;
  height: 1rem;
  background-color: var(--Cyan);
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

section.sec-3 {
  background-color: var(--Dark-Violet);
  background-image: url(../images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sec-3 .sec-item {
  padding: 6rem 0;
  text-align: center;
}

.sec-3 .sec-item h2 {
  margin-bottom: 2.5rem;
  color: var(--White);
}

footer {
  background-color: var(--Very-Dark-Violet);
  padding: 0 var(--padding);
  font-size: 10px;
}

.footer {
  padding: 7rem 0;
  display: flex;
  align-items: flex-start;
}

.footer a:hover, .footer a:focus {
  color: var(--Cyan);
}

.footer-logo {
  flex: 2;
}

.links, .sm-logo {
  flex: 1;
}

.sm-logo {
  display: flex;
  justify-content: flex-end;
  max-height: 3em;
  font-size: 2.5em;
  color: var(--White);
}

footer .links * {
  display: block;
  color: var(--Grayish-Violet);
  font-size: 1.4em;
  line-height: 3rem;
}

footer .links h4 {
  font-size: 1.8em;
  color: var(--White);
  margin-bottom: 2rem;
}

.sm-logo a:not(:last-child) {
  margin-right: 2rem;
}

.hiddenInput {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  color: transparent;
  opacity: 0;
}

.hiddenInput::selection {
  background-color: transparent;
  color: transparent;
}



label.menu {
  /* background-color: blue; */
  width: 5rem;
  height: 5rem;
  /* border-radius: 50%; */
  padding: 1rem;
  margin-left: auto;
  position: relative;
  display: none;
}

.checkbox:checked ~ .menu span.menu-icon::before {
  top: 0;
  transform: rotate(130deg);
}

.checkbox:checked ~ div.nav-list {
  display: block!important;
}

.checkbox:checked ~ .menu span.menu-icon::after {
  top: 0;
}

/* .checkbox:checked ~ div.section {
  display: block;
} */

span.menu-icon, span.menu-icon::before, span.menu-icon::after {
  width: 2.5rem;
  height: .4rem;
  background-color: var(--Grayish-Violet);
  display: inline-block;
  /* border-radius: .2rem; */
}

span.menu-icon::before, span.menu-icon::after {
  content: "";
  position: absolute;
  left: 0;
}

span.menu-icon::before {
  top: -1rem;
  transition: .3s;
}

span.menu-icon::after {
  top: 1rem;
  transition: .3s;
}

span.menu-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}














h1 {
  font-size: 6rem;
  font-family: Pbold;
}

h2 {
  font-size: 4rem;
  font-family: Pbold;
}

h3 {
  font-size: 2.5rem;
  font-family: Pbold;
}

h4 {
  font-size: 1.8rem;
  font-family: Pbold;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.empty {
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  :root {
      --padding: 4rem;
  }

  h1 {
      line-height: 7rem;
  }

  .sec-2 .sec-item .item {
      padding: 6rem 2rem 2rem 2rem;
  }
}

@media only screen and (max-width: 900px) {
  :root {
      --padding: 2rem;
  }

  nav {
      padding: 3.5rem var(--padding);
  }

  .nav-container {
      position: relative;
  }
  
  .nav-container .nav-list {
      display: none;
      position: absolute;
      background-color: var(--Dark-Violet);
      padding: 4rem 2.5rem;
      top: 8rem;
      left: 0;
      width: 100%;
      z-index: 2;
      text-align: center;
      border-radius: 1rem;
  }

  .nav-list .toleft *, .nav-list .toright * {
      display: block;
      margin: 0 auto;
      margin-bottom: 3.5rem;
      color: var(--White)
  }

  .nav-list .toright {
      border-top: 1px solid var(--Grayish-Violet);
      padding-top: 3.5rem;
  }

  .nav-list .toright button {
      margin-bottom: 0;
      width: 80%;

  }

  label.menu {
      display: block;
  }

  section.sec-1 .flex {
      flex-direction: column-reverse;
  }

  section.sec-1 {
      padding: 0 var(--padding) 17rem var(--padding);
  }

  section.sec-1 .left, section.sec-1 .right {
      width: unset;
      text-align: center;
  }

  section.sec-1 .right {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5rem;
  }

  section.sec-1 .left p {
      width: unset;
      margin: 2rem 0;
  }

  .illustration-img {
      all: unset;
      width: 150%;
      transform: translateX(20%);
  }

  .main {
      transform: translateY(-10.2rem);
  }

  input {
      padding: 1.5rem;
      width: 100%;
  }

  .input-container {
      flex-direction: column;
      padding: 2.5rem;
      background-image: url(../images/bg-shorten-mobile.svg);
      background-size: 70% 70%;
      background-position: top right;
  }

  .input-text {
      margin: 0;
  }

  input[type="submit"] {
      margin-top: 4rem;
  }

  section.sec-2 .error-msg {
      left: 0;
  }

  .shortened-container {
      display: block;
      padding: unset;
      justify-content: unset;
      align-items: unset;
  }

  .shortened-container p {
      font-size: 1.5rem!important;
  }

  .shortened-container .short-link {
      border-bottom: .1rem solid var(--Gray);
      width: 100%;
      padding: 1.5rem;
  }

  .shortened-container .short {
      display: block;
      text-align: left;
      width: 100%;
      padding: 1.5rem;
      margin: unset;
  }

  .shortened-container .short p {
      margin: 0 0 1.5rem 0;
  }

  .shortened-container:last-child {
      margin-bottom: 9rem;
  }

  .short button {
      width: 100%;
  }

  .sec-heading {
      width: 100%;
  }

  section.sec-2 {
      padding: 0 var(--padding) 8rem var(--padding);
  }

  .sec-2 .sec-item {
      flex-direction: column;
      text-align: center;
  }

  .sec-2 .sec-item .item {
      width: 100%;
      transform: translate(0, 0)!important;
  }

  .sec-2 .sec-item .item:not(:last-child) {
      margin-bottom: 10rem;
  }

  section.sec-3 {
      background-image: url(../images/bg-boost-mobile.svg);
  }

  .item .icon-area {
      left: 50%;
      transform: translateX(-50%);
  }

  .center-line hr {
      width: 2rem;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
  }

  .footer {
      padding: 0;
      flex-direction: column;
      align-items: center;
  }

  .footer-logo, .links, .sm-logo {
      width: 100%;
      flex: 100%;
      text-align: center;
      margin-bottom: 4.5rem;
  }

  .footer-logo {
      margin-top: 4.5rem;
  }

  .logo-img {
      margin: 0 auto;
  }

  .sm-logo {
      align-items: center;
      justify-content: center;
  }

  h1 {
      font-size: 4rem;
      line-height: 5rem;
  }

  h2 {
      font-size: 3rem;
      font-family: Pbold;
  }

  @media only screen and (min-width: 600px) {
      :root {
          --padding: 6rem;
      }

      .illustration-img {
          all: unset;
          width: 120%;
          transform: translateX(10%);
      }

      footer {
        font-size: 13px;
      }
  }
}